<div class="blackarea">
    <div class="contents">
        <label for="field1">Name:</label>
        <input type="text" id="field1" [(ngModel)]="field1">
        <br>

        <label for="field2">Company:</label>
        <input type="text" id="field2" [(ngModel)]="field2">
        <br>

        <label for="field3">Salary:</label>
        <input type="number" id="field3" [(ngModel)]="field3">

        <label for="field3">Location:</label>
        <input type="number" id="field3" [(ngModel)]="field4">
        <label for="field3">test:</label>
        <input type="number" id="field3" [(ngModel)]="field5">


    </div>



    <button class="submit" (click)="addNewLabel()">Submit</button>
</div>