<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap" rel="stylesheet" />

<body class="main">
    <app-navbar></app-navbar>
    <div class="parent">
        <span class="login">Students ID List</span>
        <br>
        <span class="srn">Students Register Number:-</span>
        <div>

            <div *ngFor="let list of idlist">
                <ul class="first">
                    <input type="checkbox" name="{{list.id}}" [(ngModel)]="list.isselected">
                </ul>
                <div><label>{{list.id}}</label></div>
            </div>

            <div class="button">
                <button id="submit" (click)="  gotodetails()">Next</button>
            </div>


        </div>
    </div>

</body>