<body class="main">
    <app-navbar></app-navbar>
    <!-- customer details -->

    <div class="main">
        <div class="card-list">
            <div *ngFor="let item of users ; let i = index" class="card-container">
                <mat-card class="card" [ngClass]="{ selected: item.selected }" (click)="setSelectedstudent(item)">
                    <mat-card-title>Student:{{ item.cardData.id }} </mat-card-title>
                    <mat-card-content class="card-content">

                        <!-- <img src="../../../assets/Phone 3.svg" class="phone">
                        <p class="number">{{ item.cardData.no }}</p> -->

                    </mat-card-content>
                </mat-card>
                <mat-card id="new-customer" *ngIf="i === users.length - 1" (click)="addNewService()">
                    <mat-card-title id="new-customer-label">Add Student +</mat-card-title>
                </mat-card>
            </div><!--*ngIf=" i === customers.length - 1" (click)="addNewService()" -->

        </div>

        <div class="details">
            <div class="booking-details" *ngIf="!addNew; else addNewForm">


                <!--CUSTOMER DETAILS -->
                <div class="customerheader">
                    <div style="height: 35%">
                        <h4 style="color: white">STUDENT DETAILS</h4>
                    </div>

                    <!-- order details section  -->
                    <!-- <div class="info" (click)="showdetails= !showdetails">
                        <img class="dots" src="../../../assets/ellipsis 1.svg" alt="">
                    </div>

                    <div class="detailsdiv" *ngIf="showdetails">
                        <p class="view">View order details</p>
                        <p class="unblock">Unblock</p>
                    </div> -->

                </div>
                <div class="maindetails">
                    <div style="display: flex; justify-content: space-between; padding: 2% 0 "
                        *ngFor="let studentDetails of selectedstudent.studentdetails">
                        <div class="key">{{studentDetails.title }}</div>
                        <div class="value">{{ studentDetails.value }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add new student section -->
    <div class="addnewcustomer">
        <ng-template #addNewForm>
            <div class="black-area">
                <form style="
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    padding: 2% 0;
                                  " #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
                    <div style="display: flex ; flex-wrap: wrap; margin-bottom: 2.5vh;">
                        <div style="height: 35%">
                            <h4 style="color: white">STUDENT DETAILS</h4>
                        </div>
                        <div style="text-align: right ; margin-left: 35.5vh;">
                            <mat-icon class="cancel-icon" (click)="cancelAddForm()">clear</mat-icon>
                        </div>

                    </div>

                    <!-- 
                    <div style="display: flex; margin-bottom: 2.3vh">
                        <div class="key">student name</div>
                        <div class="value">
                            <input class="edit-box" type="text" name="name" ngModel />
                        </div>
                    </div> -->

                    <div style="display: flex; margin-bottom: 2.3vh">
                        <div class="key">ID</div>
                        <div class="value">
                            <input class="edit-box" type="text" name="id" ngModel />
                        </div>
                    </div>

                    <div style="display: flex; margin-bottom: 2.3vh">
                        <div class="key">Company name</div>
                        <div class="value">
                            <input class="edit-box" type="text " name="company" ngModel />
                        </div>
                    </div>
                    <div style="display: flex; margin-bottom: 2.3vh">
                        <div class="key">Package</div>
                        <div class="value">
                            <input class="edit-box" type="number " name="package" ngModel />
                        </div>
                    </div>
                    <div style="display: flex; margin-bottom: 2.3vh">
                        <div class="key">Location</div>
                        <div class="value">
                            <input class="edit-box" type="text " name="location" ngModel />
                        </div>
                    </div>



                    <button id="submit-button" type="submit ">Submit</button>
                </form>
            </div>
        </ng-template>

    </div>

</body>